{% extends 'layout.html.twig' %}

{% block content %}

	<h3>husk.ukm.no</h3>
	<p>UKM Husk er en tjeneste du kan bruke når du er ute på events og vil rekruttere mulige deltakere. Ungdommene kan legge igjen mobilnummeret sitt, og automatisk få en SMS fra arrangørsystemet når påmeldingen åpner.</p>

	<p>Hvis deltakerne har lagt igjen nummeret sitt på <i>din</i> UKM Husk-side, kan du også sende SMS til de med arrangørsystemet selv.</p>

	{% if liste is defined %}
		<ul class="list-group">
		{% for person in liste %}
			<li class="list-group-item"><a href="#" class="UKMSMS">{{ person.mobil }}</a> - {{ person.timestamp.date|date("d.m.y") }}</li>
		{% endfor %}
	{% endif %}
{% endblock %}